.container-cart.checkout {
  margin-top: 100px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px 30px;
  width: 90%;
  }
  
  .container-cart.checkout .cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .container-cart.checkout b {
    min-width: 50%;
    max-width: 50%;
    text-align: start;
  }

  .container-cart-price {
    min-width: 15%;
    max-width: 15%;
    text-align: end;
  }

  
  .container-cart.checkout .cart-item .img-thumbnail {
    width: 80px;
    margin-right: 10px;
  }
