.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 330px;
  bottom: 20px;
}

.product img {
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin-top: 5px;
  font-size: 14px;
}

.product button {
  margin-top: 10px;
  padding: 8px 16px;

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button.incrementar {
  background-color: #007bff;
}
.product button.incrementar:hover {
  background-color: #0056b3;
}

.product button.decrementar {
  background-color: #ff6b6b;
}
.product button.decrementar:hover {
  background-color: #d33a3a;
}

.product a {
  text-decoration: none;
}

.spn-quantity {
  margin-left: 5px;
  margin-right: 5px;
}